head
  title Scalar - Scala Conference in Central Europe - #{conf_info.month} #{conf_info.day}, #{conf_info.year} in #{conf_info.city}, #{conf_info.country}.
  link(rel="shortcut icon", href="images/favicon.ico")
  link(href='http://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="index.css", media="Screen")
  meta(itemprop="name", content="Scalar")
  meta(name="viewport", content="initial-scale=1.0, width=device-width")
  meta(charset='utf-8')
  script(src="vendor/modernizr.js")
  script(src="app.js")