doctype html
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  
  include head

  block append head
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB7KRf5xZaANv6l1NWiISb5bFQf1inQb0&sensor=true")
    script.
      window.hotelsList = JSON.parse('!{JSON.stringify(hotels)}')
    script(src="main.js")

  body#top#hotels
    
    include hotels-header
    
    div#hotels-content

      div#hotels-right-section
        p For your stay during the Scalar Conference, we recommend the following hotels, with a special discount for our participants:

        - each hotel in hotels
          if !hotel.venue

            div.hotel-info
              h6
                a(href=' #{hotel.website} ', target="_blank") #{hotel.title} 

                - var n = 0
                span
                  while n < hotel.stars
                    - n++
                    img(src='images/icons/star.svg')
              p 
                i #{hotel.description}
              p
                b Price:
                |  #{hotel.price.single} PLN / single room &amp; #{hotel.price.double} PLN / double room (#{hotel.included})
              p
                b Address:
                |  #{hotel.address}
              p
                b Email: 
                a(href='mailto:#{hotel.email}') #{hotel.email}
              p
                b Promo Code:
                |  #{hotel.promo_code}


        p Other options in a very good location:
        p 
          a(href="http://www.campanile.com/pl") Campanile Hotel
          |, ul. Towarowa 2 
        p 
          a(href="http://www.premiereclasse.com/pl") Premiere Classe
          |, ul. Towarowa 2
        p 
          a(href="http://okidoki.pl/wp/lang/en/") Hostel OKIDOKI
          |, plac Dąbrowskiego 3
        p 
          a(href="http://www.elhostel.pl/index.php?s=home&l=eng") ElHostel
          |, ul. Smocza 1
        p Useful links: 
        p
          a(href="http://warsawtour.pl/en") What to see in Warsaw
        p 
          a(href="http://www.ztm.waw.pl/?l=2") Public transport
        p 
          a(href="http://warszawa.jakdojade.pl/?locale=en") jakdojade.pl
        p 
          a(href="http://www.warsawtour.pl/en/warsaw-essentials/getting-around/taxis-1728.html") Taxi
        p 
          a(href="http://rozklad-pkp.pl/en") Railway timetable
        p 
          a(href="http://www.lotnisko-chopina.pl/?lang=en") Warsaw Chopin Airport

      div#map

    script(type="text/javascript")
      //- var w = window.innerWidth-15;
      var h = window.innerHeight;
      //- document.getElementById("map").style.width = w+"px";
      document.getElementById("hotels-content").style.height = h+"px";

    script(type="text/javascript")
      google.maps.event.addDomListener(window, 'load', initialize);

    script(src="vendor/jquery.js")
    script(src="vendor/fastclick.js")
    script(src="vendor/foundation.min.js")
    script(src="vendor/smooth-scroll.js")

    script
      $(document).foundation();
    script
      smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false
      });

    //- Twitter
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //- Facebook
    #fb-root
    script
      (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));