section#agenda.row
  a.to-top(data-scroll, href="#top")
    img(src="images/icons/to-top.svg")
    br
    | to top
  header.section-title
    h1 Agenda
  div.agenda-table.small-12.medium-12.large-12.columns

    - each timespan in agenda
      if timespan.break

        div.row.utility
          div.time.small-12.medium-2.large-1.columns #{timespan.time}
          div.description.small-12.medium-10.large-11.columns #{timespan.data}

      else
        div.row
          div.time.small-12.medium-2.large-1.columns #{timespan.time}
          div.description.small-12.medium-10.large-11.columns
            div.talk 
              h1 #{timespan.data.talk_title}
              != timespan.data.talk_description
            div.speaker
              div.speaker-photo
                img(src= '#{timespan.data.speaker_photo}')
              div.speaker-bio
                h2 #{timespan.data.speaker}
                a(href="https://twitter.com/#{timespan.data.speaker_twitter}").speaker-link @#{timespan.data.speaker_twitter}
                p #{timespan.data.speaker_bio}


                //- TODO:
                //- Check if there are 2 speakers - what to do?
                //- Check if there is a twitter link
                //- Check if there are other social networks links - how to show them