section#agenda.row
  
  include to-top-btn.pug
  
  header.section-title
    h1 Agenda
  div.agenda-table.small-12.medium-12.large-12.columns

    - each timespan in agenda
      if timespan.break

        div.row.utility
          div.time.small-12.medium-2.large-1.columns #{timespan.time}
          div.description.small-12.medium-10.large-11.columns #{timespan.data}

      else
        div.row
          div.time.small-12.medium-2.large-1.columns #{timespan.time}
          div.description.small-12.medium-10.large-11.columns
            div.talk 
              h1 #{timespan.data.talk_title}
              //- != is escaping for precompiled html from json
              != timespan.data.talk_description

            div.speaker

              //- If there are several speaker per talk
              if Array.isArray(timespan.data.speaker) == true

                div.speaker-photo
                  //- For every speaker create a photo
                  - for (var x = 0; x < timespan.data.speaker_photo.length; x++)
                    img(src= '#{timespan.data.speaker_photo[x]}')

                div.speaker-bio

                    h2 
                      //- Show speakers names
                      - for (var x = 0; x < timespan.data.speaker.length; x++)
                        span #{timespan.data.speaker[x]} 
                        
                        //- Add ampersand between names
                        unless x == timespan.data.speaker.length-1
                          span &amp; 

                    //- Check if speakers have twitters/twitters
                    if (timespan.data.speaker_twitter != "")

                      //- For every twitter - create link
                      - for (var x = 0; x < timespan.data.speaker_twitter.length; x++)

                        a(href="https://twitter.com/#{timespan.data.speaker_twitter[x]}").speaker-link @#{timespan.data.speaker_twitter[x]}

                    //- Check if speakers have github/githubs
                    if (timespan.data.speaker_github != "")
                      p Gihub: 
                        - for (var x = 0; x < timespan.data.speaker_github.length; x++)
                          a(href="https://github.com/#{timespan.data.speaker_github[x]}").speaker-link #{timespan.data.speaker_github[x]}

                    //- Check if speakers have website/websites
                    if (timespan.data.speaker_website != "")
                      - for (var x = 0; x < timespan.data.speaker_website.length; x++)
                        a(href="//#{timespan.data.speaker_website[x]}").speaker-link #{timespan.data.speaker_website[x]}

                    //- If there are several bios, write all of them down
                    - for (var x = 0; x < timespan.data.speaker_bio.length; x++)
                      p #{timespan.data.speaker_bio[x]}

              else
                //- If there is only one speaker per talk
                div.speaker-photo
                  img(src= '#{timespan.data.speaker_photo}')

                div.speaker-bio
                  h2 #{timespan.data.speaker}

                  if (timespan.data.speaker_twitter != "")
                    a(href="https://twitter.com/#{timespan.data.speaker_twitter}").speaker-link @#{timespan.data.speaker_twitter}

                  if (timespan.data.speaker_github != "")
                    p Gihub: 
                      a(href="https://github.com/#{timespan.data.speaker_github}").speaker-link #{timespan.data.speaker_github}

                  if (timespan.data.speaker_website != "")
                    a(href="//#{timespan.data.speaker_website}").speaker-link #{timespan.data.speaker_website}

                  p #{timespan.data.speaker_bio}