doctype html
html(lang="en", itemscope, itemtype="http://schema.org/EducationEvent")
  
  head
    title Scalar - Scala Conference in Central Europe - #{locals.conf_info.month} #{locals.conf_info.day}, #{locals.conf_info.year} in #{locals.conf_info.city}, #{locals.conf_info.country}.
    link(rel="shortcut icon", href="images/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=Exo+2:400,200,500,600,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="../index.css", media="Screen")
    meta(itemprop="name", content="Scalar")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(charset='utf-8')
    script(src="../vendor/modernizr.js")
    script(src="../app.js")

  body#top

    section.news-posts.row
      
      header.section-title
        h1 #{locals.title}
        time.post-date #{locals.dateFormated}

      div.small-12.medium-8.medium-centered.large-6.large-centered.columns!= locals.body

      div.social

        a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://scalar-conf.com/news/#{locals.permalink}.html", data-text="#{locals.title}", data-via="scalarconf", data-related="scalarconf", data-count="none", data-hashtags="scalarconf") Tweet

        div.fb-like(data-href="http://scalar-conf.com/news/#{locals.permalink}.html", data-width="225", data-layout="button", data-action="like", data-show-faces="false", data-share="false")

    include ../organizer.jade
    

    script(src="../vendor/jquery.js")
    script(src="../vendor/fastclick.js")
    script(src="../foundation.min.js")
    script(src="../vendor/smooth-scroll.js")

    script.
      $(document).foundation();
    script.
      smoothScroll.init({
        speed: 800,
        easing: 'easeInOutCubic',
        updateURL: false
      });